<% include layout/header.ejs %>

<div class="main">
  <div class="container">
    <div class="content">
      <% if (post) { %>
      <div class="post">
        <div class="top">
          <h1><%= post.title %></h1>
        </div>
        <div class="body">
          <p>
            <%= post.body %>
          </p>
        </div>
        <div class="bottom">
          <div class="author">
            Автор:
            <a href="/users/<%= post.author.login %>/"
              ><%= post.author.login %></a
            >
          </div>
          <a href="/posts/<%= post.url %>#<%= post.id %>">Комментарии: <%= post.commentCount %></a>
        </div>
        <a href="/">← На главную</a>
      </div>
      <% } %>

      <div class="comments" id="<%= post.id %>">
        <h3>Комментарии</h3>
        <a class="comment-title js-show-form">Оставить комментарий</a>
        <form id="comment" name="comment" class="comment">
          <textarea name="comment"></textarea>
          <div class="btns">
            <input
              type="reset"
              value="Отмена"
              class="js-cancel-comment button button--left"
            />
            <button class="js-send-form button button--right">
              Отправить
            </button>
          </div>
        </form>
        <div class="comments-list">
          <%- include('layout/comments', {items: comments}); -%>
        </div>
      </div>
    </div>
    <% include layout/sidebar.ejs %>
  </div>
</div>

<% include layout/footer.ejs %>
