<div class="pagination">
  <% if (pages && pages > 1) { %> <% if (currentPage > 2) { %>
  <a
    class="new pageLimit"
    href="<%= path %>/page=<%= Number(currentPage) - 1 %>"
    >← К новым записям</a
  >
  <% } %> <% if (currentPage == 1) { %>
  <div class="empty-space"></div>
  <% } %> <% if (currentPage == 2) { %>
  <a class="new pageLimit" href="<%= path %>/">← К новым записям</a>
  <% } %> <% for (let page=1; page <= pages; page++) { %>
  <a
    class="page <%= currentPage == page ? 'page--active' : '' %>"
    href="<%= page == 1 ? (path + '/') : (path + '/page=' + page) %>"
    ><%= page %></a
  >
  <% } %> <% if (pages > 0 && currentPage < pages) { %>
  <a
    class="old pageLimit"
    href="<%= path %>/page=<%= Number(currentPage) + 1 %>"
    >К старым записям →</a
  >
  <% } %> <% if (currentPage == pages) { %>
  <div class="empty-space"></div>
  <% } %> <% } %>
</div>
